:root {
    --grove-client-width: 500px;

}

iframe#GroveSide {
    position: fixed;
    min-height: 100%;
    height: 100%;
	background: transparent;
	min-width: var(--grove-client-width);
	width: var(--grove-client-width);

    transform: translate(var(--grove-client-width),0);

    right: 0;
    top: 0;
    height: 100vh;
	z-index: 2147483647;
    transition: transform 0.5s linear;
    visibility: visible;
}

iframe#GroveSide[data-expanded="false"] {
	transform: translate(var(--grove-client-width),0)!important;
}

iframe#GroveSide[data-expanded="false"][data-theme="liter"] {
	transform: none!important;
}

iframe#CornerWidget {
	min-height: 103px;
	height: 103px;
	position: fixed;
	right: 0px;
	bottom: 20px;
	min-width: calc(var(--grove-client-width) + 43px);
	width: calc(var(--grove-client-width) + 43px);
	z-index: 2147483647;
    background: transparent;

    visibility: hidden;

    transform: translate(calc(var(--grove-client-width) - 50px), 0);

}

iframe#CornerWidget[data-expanded="false"][data-expl="false"] {
    transform: translate(calc(var(--grove-client-width - 50px)),0)!important;
	transition: all 0.5s linear;
	visibility: visible!important;
}